.sf-card-dimensions {
    height: 300px;
    min-width: 150px;
    max-width: 300px;
    margin: 10px 20px 10px 20px;
}

.sf-label {
    position: relative;
}

.sf-label:before {
    content: "";
    position: absolute;
    left: 30px;
    top: 0;
    bottom: 0;
    width: 20px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25' fill-rule='evenodd'%3E%3Cpath d='M16.32 14.9l5.39 5.4a1 1 0 0 1-1.42 1.4l-5.38-5.38a8 8 0 1 1 1.41-1.41zM10 16a6 6 0 1 0 0-12 6 6 0 0 0 0 12z'%3E%3C/path%3E%3C/svg%3E") center / contain no-repeat;
}

.sf-notification {
    position: relative;
}

.sf-notification:before {
    content: "";
    position: absolute;
    right: 80px;
    top: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30' fill-rule='evenodd'%3E%3Cpath d='M15 19a3 3 0 0 1-6 0H4a1 1 0 0 1 0-2h1v-6a7 7 0 0 1 4.02-6.34 3 3 0 0 1 5.96 0A7 7 0 0 1 19 11v6h1a1 1 0 0 1 0 2h-5zm-4 0a1 1 0 0 0 2 0h-2zm0-12.9A5 5 0 0 0 7 11v6h10v-6a5 5 0 0 0-4-4.9V5a1 1 0 0 0-2 0v1.1z'%3E%3C/path%3E%3C/svg%3E") center / contain no-repeat;
}
.sf-plus {
    position: relative;
    margin: 10px 70px 0px 0px;
}

.sf-plus:before {
    content: "";
    position: absolute;
    right: 100px;
    top: 0;
    bottom: 0;
    width: 50px;
    height: 42px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30' fill-rule='evenodd'%3E%3Cpath d='M17 11a1 1 0 0 1 0 2h-4v4a1 1 0 0 1-2 0v-4H7a1 1 0 0 1 0-2h4V7a1 1 0 0 1 2 0v4h4z'%3E%3C/path%3E%3C/svg%3E") center / contain no-repeat;
}

.sf-input {
    padding: 10px 30px;
    margin: 0px 0px 20px 20px; 
    width: 300px;
}

.sf-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 15px 0px 0px 0px; 
  }

.sf-oval {
    width: 150px;
    height: 15px;
    border-radius: 100px / 100px;
    margin: 30px 0px 0px 30px; 
  }




