html{overflow-x:hidden;box-sizing:border-box;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
body{font-family: 'Roboto', sans-serif;font-size:12px;line-height:1.2;margin:0;}
*,*:before,*:after{box-sizing:inherit;}
.sf-btn{width: 100px; margin-right: 0px;border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap;-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.sf-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.sf-btn:disabled{cursor:not-allowed;opacity:0.3}:disabled *{pointer-events:none}
.sf-btn:disabled:hover{box-shadow:none}
.sf-container:after,.sf-container:before,.sf-row:after,.sf-row:before{content:"";display:table;clear:both}
.sf-col{float:left;width:100%}
.sf-rest{overflow:hidden}
.sf-round-small{border-radius:2px}
.sf-round{border-radius:4px}
.sf-container{padding:0.01em 16px}
.sf-card{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19); position: relative; margin-bottom: 16px !important;}
.sf-card > button {color: #616161; border-radius: 3px; border-width: 2px !important;}
.sf-border{border:1px solid #ccc!important}
.sf-right{float:right!important}
.sf-left{float:left!important}
.sf-purple{color:#fff!important;background-color:#CB5DFF!important}
.sf-teal{color:#fff!important;background-color:#8380FF!important}
.sf-yellow{color:#000!important;background-color:#FBFF5D!important}
.sf-white{color:#000!important;background-color:#fff!important}
.sf-light-grey{color:#000!important;background-color:#f1f1f1!important}
.sf-light-shade{background-color:#C3C3C3!important}
.sf-grey{color:#fff!important;background-color:#9F9F9F!important}
.sf-dark-grey{color:#fff!important;background-color:#7F7F7F!important}
.sf-hr-line{display: block; height: 1px; border: 0; border-top: 1px solid #898989; margin: 20px 20px 0px 50px; padding: 0;}
.sf-card-dimensions{height:250px;min-width:120px;max-width:210px;margin:10px 20px 10px 10px; padding:20px 2px 0px 7px;}
.sf-label{position:relative; padding: 6px 0px 0px 0px;}
.sf-label:before{content:"";position:absolute;left:30px;top:0;bottom:0;width:20px; background-size: 50px 50px; background:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25' fill-rule='evenodd'%3E%3Cpath fill='grey' d='M16.32 14.9l5.39 5.4a1 1 0 0 1-1.42 1.4l-5.38-5.38a8 8 0 1 1 1.41-1.41zM10 16a6 6 0 1 0 0-12 6 6 0 0 0 0 12z'%3E%3C/path%3E%3C/svg%3E") center / contain no-repeat;}
.sf-notification{position:relative; cursor: pointer;}
.sf-notification:before{content:"";position:absolute;right:80px;top:0;bottom:0;width:50px;height:50px;background:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30' fill-rule='evenodd'%3E%3Cpath fill='grey' d='M15 19a3 3 0 0 1-6 0H4a1 1 0 0 1 0-2h1v-6a7 7 0 0 1 4.02-6.34 3 3 0 0 1 5.96 0A7 7 0 0 1 19 11v6h1a1 1 0 0 1 0 2h-5zm-4 0a1 1 0 0 0 2 0h-2zm0-12.9A5 5 0 0 0 7 11v6h10v-6a5 5 0 0 0-4-4.9V5a1 1 0 0 0-2 0v1.1z'%3E%3C/path%3E%3C/svg%3E") center / contain no-repeat;}
.sf-plus{position:relative;margin:0px 70px 0px 0px;}
.sf-plus:before{content:"";position:absolute;right:110px;top: 7px;bottom:0;width:50px;height:42px;background:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30' fill-rule='evenodd'%3E%3Cpath fill='grey' d='M17 11a1 1 0 0 1 0 2h-4v4a1 1 0 0 1-2 0v-4H7a1 1 0 0 1 0-2h4V7a1 1 0 0 1 2 0v4h4z'%3E%3C/path%3E%3C/svg%3E") center / contain no-repeat;}
.sf-input{padding:10px 0px 10px 0px;margin:0px 0px 20px 60px;width:80%; height: 45px; border: 0; font-size:24px; color:#7F7F7F}
.sf-input::placeholder{font-size: 24px}
.sf-input:focus {outline: none;}
.sf-circle{width:50px;height:50px;border-radius:50%;margin:15px 0px 0px 0px;}
.sf-oval{width:150px;height:15px;border-radius:100px / 100px;margin:30px 0px 0px 30px;}
.sf-sidenav {margin: 10px 0px 0px 0px; position: relative;}
.sf-sidenav > button {font-size: 15px; border: none !important;}
.sf-dot{width:15px;height:15px;border-radius:50%;margin:0px 0px 0px 0px; position: absolute; top: 10px; left: 10px;}
.sf-bottom-middle {position: absolute; bottom: 10px; width: 94%;}
.sf-card-title {font-size: x-large; color: #616161; padding: 5px 0px 0px 0px;font-weight:400;margin:10px 0;}
.sf-card-text {color: #616161; }
.sf-card-date {position: absolute; top: 5px; right: 15px; color: #616161; padding: 5px 0px 0px 0px; }
.sf-btn-cat, .sf-btn-task {text-align: left; padding: 10px 10px 10px 30px;}
.sf-dot-sm{width:8px;height:8px;border-radius:50%;margin:0px 0px 0px 0px; position: absolute; top: 18px; left: 12px;}
.sf-dot-sm-topnav{width:10px;height:10px;border-radius:50%;margin:0px 0px 0px 0px; position: absolute; top: 2px; left: 12px; display: none;}
.sf-topnav {margin: 10px 0px 0px 0px; position: relative; display: inline;}
.sf-row.top button {width: 140px; font-size: 20px; padding: 10px 10px 10px 30px; color: #616161}
.sf-sidenav-container {width: 150px;}
.sf-logo, .sf-notification, .sf-notification::before, .sf-plus, .sf-plus::before, .sf-row.top {display: none;}
.sf-btn-cat.sf-cat, .sf-btn-task, .sf-btn-create { border-style: outset; border-color: transparent; cursor: pointer;}
.sf-btn-cat.sf-cat:hover, .sf-btn-task:hover, .sf-btn-create:hover { background-color: #e6e6e6;}
.sf-btn-cat.sf-cat:active, .sf-btn-task:active, .sf-btn-create:active { background-color: #ffffff;}
.sf-btn-task.sf-type.document {padding-left: 5px;}
#noHit {padding: 0px 0px 0px 0px; margin: 0px 0px 0px 20px; font-size: 20px; color: #616161 !important}
#inputValue {color: #000; font-size: 26px !important;}
@media (min-width:1500px){.sf-dot-sm-topnav{display: inline-block;}} 
@media (min-width:1000px){.sf-sidenav-container, .sf-logo {width: 300px; display: block;}}
@media (min-width:1000px){.sf-notification, .sf-notification::before, .sf-plus, .sf-plus::before, .sf-row.top {display: block;}}
@media (min-width:1000px){.sf-sidenav {margin: 10px 0px 0px 40px; position: relative;}}
@media (min-width:1000px){html,body{font-family: 'Roboto', sans-serif;font-size:15px;line-height:1.5}}
@media (min-width:1000px){.sf-sidenav > button {font-size: 20px; width: 200px;}}
@media (min-width:1000px){.sf-card-dimensions{height:300px; min-width:150px;max-width:280px;margin:10px 20px 10px 20px; padding:20px 12px 0px 12px;}}
@media (min-width:1000px){button.sf-bottom-middle {width: 260px; margin-right: 10px;}}