html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
html,body{font-family: 'Roboto', sans-serif;font-size:15px;line-height:1.5}html{overflow:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}
h1,h2,h3,h4,h5,h6{font-family: 'Roboto', sans-serif;font-weight:400;margin:10px 0}.sfed-wide{letter-spacing:4px}
hr{border:0;border-top:1px solid #eee;margin:20px 0}
.sfed-image{max-width:100%;height:auto}img{vertical-align:middle}a{color:inherit}
.sfed-table,.sfed-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}.sfed-table-all{border:1px solid #ccc}
.sfed-bordered tr,.sfed-table-all tr{border-bottom:1px solid #ddd}.sfed-striped tbody tr:nth-child(even){background-color:#f1f1f1}
.sfed-table-all tr:nth-child(odd){background-color:#fff}.sfed-table-all tr:nth-child(even){background-color:#f1f1f1}
.sfed-hoverable tbody tr:hover,.sfed-ul.sfed-hoverable li:hover{background-color:#ccc}.sfed-centered tr th,.sfed-centered tr td{text-align:center}
.sfed-table td,.sfed-table th,.sfed-table-all td,.sfed-table-all th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.sfed-table th:first-child,.sfed-table td:first-child,.sfed-table-all th:first-child,.sfed-table-all td:first-child{padding-left:16px}
.sfed-btn,.sfed-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.sfed-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.sfed-btn,.sfed-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.sfed-disabled,.sfed-btn:disabled,.sfed-button:disabled{cursor:not-allowed;opacity:0.3}.sfed-disabled *,:disabled *{pointer-events:none}
.sfed-btn.sfed-disabled:hover,.sfed-btn:disabled:hover{box-shadow:none}
.sfed-badge,.sfed-tag{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}.sfed-badge{border-radius:50%}
.sfed-ul{list-style-type:none;padding:0;margin:0}.sfed-ul li{padding:8px 16px;border-bottom:1px solid #ddd}.sfed-ul li:last-child{border-bottom:none}
.sfed-tooltip,.sfed-display-container{position:relative}.sfed-tooltip .sfed-text{display:none}.sfed-tooltip:hover .sfed-text{display:inline-block}
.sfed-ripple:active{opacity:0.5}.sfed-ripple{transition:opacity 0s}
.sfed-input{padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%}
.sfed-select{padding:9px 0;width:100%;border:none;border-bottom:1px solid #ccc}
.sfed-dropdown-click,.sfed-dropdown-hover{position:relative;display:inline-block;cursor:pointer}
.sfed-dropdown-hover:hover .sfed-dropdown-content{display:block}
.sfed-dropdown-hover:first-child,.sfed-dropdown-click:hover{background-color:#ccc;color:#000}
.sfed-dropdown-hover:hover > .sfed-button:first-child,.sfed-dropdown-click:hover > .sfed-button:first-child{background-color:#ccc;color:#000}
.sfed-dropdown-content{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0;z-index:1}
.sfed-check,.sfed-radio{width:24px;height:24px;position:relative;top:6px}
.sfed-sidebar{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.sfed-bar-block .sfed-dropdown-hover,.sfed-bar-block .sfed-dropdown-click{width:100%}
.sfed-bar-block .sfed-dropdown-hover .sfed-dropdown-content,.sfed-bar-block .sfed-dropdown-click .sfed-dropdown-content{min-width:100%}
.sfed-bar-block .sfed-dropdown-hover .sfed-button,.sfed-bar-block .sfed-dropdown-click .sfed-button{width:100%;text-align:left;padding:8px 16px}
.sfed-main,#main{transition:margin-left .4s}
.sfed-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.sfed-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
.sfed-bar{width:100%;overflow:hidden}.sfed-center .sfed-bar{display:inline-block;width:auto}
.sfed-bar .sfed-bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
.sfed-bar .sfed-dropdown-hover,.sfed-bar .sfed-dropdown-click{position:static;float:left}
.sfed-bar .sfed-button{white-space:normal}
.sfed-bar-block .sfed-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}
.sfed-bar-block.sfed-center .sfed-bar-item{text-align:center}.sfed-block{display:block;width:100%}
.sfed-responsive{display:block;overflow-x:auto}
.sfed-container:after,.sfed-container:before,.sfed-panel:after,.sfed-panel:before,.sfed-row:after,.sfed-row:before,.sfed-row-padding:after,.sfed-row-padding:before,
.sfed-cell-row:before,.sfed-cell-row:after,.sfed-clear:after,.sfed-clear:before,.sfed-bar:before,.sfed-bar:after{content:"";display:table;clear:both}
.sfed-col,.sfed-half,.sfed-third,.sfed-twothird,.sfed-threequarter,.sfed-quarter{float:left;width:100%}
.sfed-col.s1{width:8.33333%}.sfed-col.s2{width:16.66666%}.sfed-col.s3{width:24.99999%}.sfed-col.s4{width:33.33333%}
.sfed-col.s5{width:41.66666%}.sfed-col.s6{width:49.99999%}.sfed-col.s7{width:58.33333%}.sfed-col.s8{width:66.66666%}
.sfed-col.s9{width:74.99999%}.sfed-col.s10{width:83.33333%}.sfed-col.s11{width:91.66666%}.sfed-col.s12{width:99.99999%}
@media (min-width:601px){.sfed-col.m1{width:8.33333%}.sfed-col.m2{width:16.66666%}.sfed-col.m3,.sfed-quarter{width:24.99999%}.sfed-col.m4,.sfed-third{width:33.33333%}
.sfed-col.m5{width:41.66666%}.sfed-col.m6,.sfed-half{width:49.99999%}.sfed-col.m7{width:58.33333%}.sfed-col.m8,.sfed-twothird{width:66.66666%}
.sfed-col.m9,.sfed-threequarter{width:74.99999%}.sfed-col.m10{width:83.33333%}.sfed-col.m11{width:91.66666%}.sfed-col.m12{width:99.99999%}}
@media (min-width:993px){.sfed-col.l1{width:8.33333%}.sfed-col.l2{width:16.66666%}.sfed-col.l3{width:24.99999%}.sfed-col.l4{width:33.33333%}
.sfed-col.l5{width:41.66666%}.sfed-col.l6{width:49.99999%}.sfed-col.l7{width:58.33333%}.sfed-col.l8{width:66.66666%}
.sfed-col.l9{width:74.99999%}.sfed-col.l10{width:83.33333%}.sfed-col.l11{width:91.66666%}.sfed-col.l12{width:99.99999%}}
.sfed-rest{overflow:hidden}.sfed-stretch{margin-left:-16px;margin-right:-16px}
.sfed-content,.sfed-auto{margin-left:auto;margin-right:auto}.sfed-content{max-width:980px}.sfed-auto{max-width:1140px}
.sfed-cell-row{display:table;width:100%}.sfed-cell{display:table-cell}
.sfed-cell-top{vertical-align:top}.sfed-cell-middle{vertical-align:middle}.sfed-cell-bottom{vertical-align:bottom}
.sfed-hide{display:none!important}.sfed-show-block,.sfed-show{display:block!important}.sfed-show-inline-block{display:inline-block!important}
@media (max-width:1205px){.sfed-auto{max-width:95%}}
@media (max-width:600px){.sfed-modal-content{margin:0 10px;width:auto!important}.sfed-modal{padding-top:30px}
.sfed-dropdown-hover.sfed-mobile .sfed-dropdown-content,.sfed-dropdown-click.sfed-mobile .sfed-dropdown-content{position:relative}	
.sfed-hide-small{display:none!important}.sfed-mobile{display:block;width:100%!important}.sfed-bar-item.sfed-mobile,.sfed-dropdown-hover.sfed-mobile,.sfed-dropdown-click.sfed-mobile{text-align:center}
.sfed-dropdown-hover.sfed-mobile,.sfed-dropdown-hover.sfed-mobile .sfed-btn,.sfed-dropdown-hover.sfed-mobile .sfed-button,.sfed-dropdown-click.sfed-mobile,.sfed-dropdown-click.sfed-mobile .sfed-btn,.sfed-dropdown-click.sfed-mobile .sfed-button{width:100%}}
@media (max-width:768px){.sfed-modal-content{width:500px}.sfed-modal{padding-top:50px}}
@media (min-width:993px){.sfed-modal-content{width:900px}.sfed-hide-large{display:none!important}.sfed-sidebar.sfed-collapse{display:block!important}}
@media (max-width:992px) and (min-width:601px){.sfed-hide-medium{display:none!important}}
@media (max-width:992px){.sfed-sidebar.sfed-collapse{display:none}.sfed-main{margin-left:0!important;margin-right:0!important}.sfed-auto{max-width:100%}}
.sfed-top,.sfed-bottom{position:fixed;width:100%;z-index:1}.sfed-top{top:0}.sfed-bottom{bottom:0}
.sfed-overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2}
.sfed-display-topleft{position:absolute;left:0;top:0}.sfed-display-topright{position:absolute;right:0;top:0}
.sfed-display-bottomleft{position:absolute;left:0;bottom:0}.sfed-display-bottomright{position:absolute;right:0;bottom:0}
.sfed-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.sfed-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.sfed-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.sfed-display-topmiddle{position:absolute;left:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.sfed-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.sfed-display-container:hover .sfed-display-hover{display:block}.sfed-display-container:hover span.sfed-display-hover{display:inline-block}.sfed-display-hover{display:none}
.sfed-display-position{position:absolute}
.sfed-circle{border-radius:50%}
.sfed-round-small{border-radius:2px}.sfed-round,.sfed-round-medium{border-radius:4px}.sfed-round-large{border-radius:8px}.sfed-round-xlarge{border-radius:16px}.sfed-round-xxlarge{border-radius:32px}
.sfed-row-padding,.sfed-row-padding>.sfed-half,.sfed-row-padding>.sfed-third,.sfed-row-padding>.sfed-twothird,.sfed-row-padding>.sfed-threequarter,.sfed-row-padding>.sfed-quarter,.sfed-row-padding>.sfed-col{padding:0 8px}
.sfed-container,.sfed-panel{padding:0.01em 16px}.sfed-panel{margin-top:16px;margin-bottom:16px}
.sfed-code,.sfed-codespan{font-family: 'Roboto', sans-serif;font-size:16px}
.sfed-code{width:auto;background-color:#fff;padding:8px 12px;border-left:4px solid #4CAF50;word-wrap:break-word}
.sfed-codespan{color:crimson;background-color:#f1f1f1;padding-left:4px;padding-right:4px;font-size:110%}
.sfed-card,.sfed-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.sfed-card-4,.sfed-hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
.sfed-spin{animation:asdfasdfasdfasdfasdfasdfasdfsafasdf-spin 2s infinite linear}@keyframes sfed-spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}
.sfed-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.sfed-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.sfed-animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.sfed-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.sfed-animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.sfed-animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.sfed-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.sfed-animate-input{transition:width 0.4s ease-in-out}.sfed-animate-input:focus{width:100%!important}
.sfed-opacity,.sfed-hover-opacity:hover{opacity:0.60}.sfed-opacity-off,.sfed-hover-opacity-off:hover{opacity:1}
.sfed-opacity-max{opacity:0.25}.sfed-opacity-min{opacity:0.75}
.sfed-greyscale-max,.sfed-grayscale-max,.sfed-hover-greyscale:hover,.sfed-hover-grayscale:hover{filter:grayscale(100%)}
.sfed-greyscale,.sfed-grayscale{filter:grayscale(75%)}.sfed-greyscale-min,.sfed-grayscale-min{filter:grayscale(50%)}
.sfed-sepia{filter:sepia(75%)}.sfed-sepia-max,.sfed-hover-sepia:hover{filter:sepia(100%)}.sfed-sepia-min{filter:sepia(50%)}
.sfed-tiny{font-size:10px!important}.sfed-small{font-size:12px!important}.sfed-medium{font-size:15px!important}.sfed-large{font-size:18px!important}
.sfed-xlarge{font-size:24px!important}.sfed-xxlarge{font-size:36px!important}.sfed-xxxlarge{font-size:48px!important}.sfed-jumbo{font-size:64px!important}
.sfed-left-align{text-align:left!important}.sfed-right-align{text-align:right!important}.sfed-justify{text-align:justify!important}.sfed-center{text-align:center!important}
.sfed-border-0{border:0!important}.sfed-border{border:1px solid #ccc!important}
.sfed-border-top{border-top:1px solid #ccc!important}.sfed-border-bottom{border-bottom:1px solid #ccc!important}
.sfed-border-left{border-left:1px solid #ccc!important}.sfed-border-right{border-right:1px solid #ccc!important}
.sfed-topbar{border-top:6px solid #ccc!important}.sfed-bottombar{border-bottom:6px solid #ccc!important}
.sfed-leftbar{border-left:6px solid #ccc!important}.sfed-rightbar{border-right:6px solid #ccc!important}
.sfed-section,.sfed-code{margin-top:16px!important;margin-bottom:16px!important}
.sfed-margin{margin:16px!important}.sfed-margin-top{margin-top:16px!important}.sfed-margin-bottom{margin-bottom:16px!important}
.sfed-margin-left{margin-left:16px!important}.sfed-margin-right{margin-right:16px!important}
.sfed-padding-small{padding:4px 8px!important}.sfed-padding{padding:8px 16px!important}.sfed-padding-large{padding:12px 24px!important}
.sfed-padding-16{padding-top:16px!important;padding-bottom:16px!important}.sfed-padding-24{padding-top:24px!important;padding-bottom:24px!important}
.sfed-padding-32{padding-top:32px!important;padding-bottom:32px!important}.sfed-padding-48{padding-top:48px!important;padding-bottom:48px!important}
.sfed-padding-64{padding-top:64px!important;padding-bottom:64px!important}
.sfed-padding-top-64{padding-top:64px!important}.sfed-padding-top-48{padding-top:48px!important}
.sfed-padding-top-32{padding-top:32px!important}.sfed-padding-top-24{padding-top:24px!important}
.sfed-left{float:left!important}.sfed-right{float:right!important}
.sfed-button:hover{color:#000!important;background-color:#ccc!important}
.sfed-transparent,.sfed-hover-none:hover{background-color:transparent!important}
.sfed-hover-none:hover{box-shadow:none!important}
/* Colors */
.sfed-amber,.sfed-hover-amber:hover{color:#000!important;background-color:#ffc107!important}
.sfed-aqua,.sfed-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.sfed-blue,.sfed-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.sfed-light-blue,.sfed-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
.sfed-brown,.sfed-hover-brown:hover{color:#fff!important;background-color:#795548!important}
.sfed-cyan,.sfed-hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
.sfed-blue-grey,.sfed-hover-blue-grey:hover,.sfed-blue-gray,.sfed-hover-blue-gray:hover{color:#fff!important;background-color:#607d8b!important}
.sfed-green,.sfed-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.sfed-light-green,.sfed-hover-light-green:hover{color:#000!important;background-color:#8bc34a!important}
.sfed-indigo,.sfed-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.sfed-khaki,.sfed-hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}
.sfed-lime,.sfed-hover-lime:hover{color:#000!important;background-color:#cddc39!important}
.sfed-orange,.sfed-hover-orange:hover{color:#000!important;background-color:#ff9800!important}
.sfed-deep-orange,.sfed-hover-deep-orange:hover{color:#fff!important;background-color:#ff5722!important}
.sfed-pink,.sfed-hover-pink:hover{color:#fff!important;background-color:#e91e63!important}
.sfed-purple,.sfed-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
.sfed-deep-purple,.sfed-hover-deep-purple:hover{color:#fff!important;background-color:#673ab7!important}
.sfed-red,.sfed-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.sfed-sand,.sfed-hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}
.sfed-teal,.sfed-hover-teal:hover{color:#fff!important;background-color:#009688!important}
.sfed-yellow,.sfed-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.sfed-white,.sfed-hover-white:hover{color:#000!important;background-color:#fff!important}
.sfed-black,.sfed-hover-black:hover{color:#fff!important;background-color:#000!important}
.sfed-grey,.sfed-hover-grey:hover,.sfed-gray,.sfed-hover-gray:hover{color:#000!important;background-color:#9e9e9e!important}
.sfed-light-grey,.sfed-hover-light-grey:hover,.sfed-light-gray,.sfed-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.sfed-dark-grey,.sfed-hover-dark-grey:hover,.sfed-dark-gray,.sfed-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}
.sfed-pale-red,.sfed-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.sfed-pale-green,.sfed-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.sfed-pale-yellow,.sfed-hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}
.sfed-pale-blue,.sfed-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}
.sfed-text-amber,.sfed-hover-text-amber:hover{color:#ffc107!important}
.sfed-text-aqua,.sfed-hover-text-aqua:hover{color:#00ffff!important}
.sfed-text-blue,.sfed-hover-text-blue:hover{color:#2196F3!important}
.sfed-text-light-blue,.sfed-hover-text-light-blue:hover{color:#87CEEB!important}
.sfed-text-brown,.sfed-hover-text-brown:hover{color:#795548!important}
.sfed-text-cyan,.sfed-hover-text-cyan:hover{color:#00bcd4!important}
.sfed-text-blue-grey,.sfed-hover-text-blue-grey:hover,.sfed-text-blue-gray,.sfed-hover-text-blue-gray:hover{color:#607d8b!important}
.sfed-text-green,.sfed-hover-text-green:hover{color:#4CAF50!important}
.sfed-text-light-green,.sfed-hover-text-light-green:hover{color:#8bc34a!important}
.sfed-text-indigo,.sfed-hover-text-indigo:hover{color:#3f51b5!important}
.sfed-text-khaki,.sfed-hover-text-khaki:hover{color:#b4aa50!important}
.sfed-text-lime,.sfed-hover-text-lime:hover{color:#cddc39!important}
.sfed-text-orange,.sfed-hover-text-orange:hover{color:#ff9800!important}
.sfed-text-deep-orange,.sfed-hover-text-deep-orange:hover{color:#ff5722!important}
.sfed-text-pink,.sfed-hover-text-pink:hover{color:#e91e63!important}
.sfed-text-purple,.sfed-hover-text-purple:hover{color:#9c27b0!important}
.sfed-text-deep-purple,.sfed-hover-text-deep-purple:hover{color:#673ab7!important}
.sfed-text-red,.sfed-hover-text-red:hover{color:#f44336!important}
.sfed-text-sand,.sfed-hover-text-sand:hover{color:#fdf5e6!important}
.sfed-text-teal,.sfed-hover-text-teal:hover{color:#009688!important}
.sfed-text-yellow,.sfed-hover-text-yellow:hover{color:#d2be0e!important}
.sfed-text-white,.sfed-hover-text-white:hover{color:#fff!important}
.sfed-text-black,.sfed-hover-text-black:hover{color:#000!important}
.sfed-text-grey,.sfed-hover-text-grey:hover,.sfed-text-gray,.sfed-hover-text-gray:hover{color:#757575!important}
.sfed-text-light-grey,.sfed-hover-text-light-grey:hover,.sfed-text-light-gray,.sfed-hover-text-light-gray:hover{color:#f1f1f1!important}
.sfed-text-dark-grey,.sfed-hover-text-dark-grey:hover,.sfed-text-dark-gray,.sfed-hover-text-dark-gray:hover{color:#3a3a3a!important}
.sfed-border-amber,.sfed-hover-border-amber:hover{border-color:#ffc107!important}
.sfed-border-aqua,.sfed-hover-border-aqua:hover{border-color:#00ffff!important}
.sfed-border-blue,.sfed-hover-border-blue:hover{border-color:#2196F3!important}
.sfed-border-light-blue,.sfed-hover-border-light-blue:hover{border-color:#87CEEB!important}
.sfed-border-brown,.sfed-hover-border-brown:hover{border-color:#795548!important}
.sfed-border-cyan,.sfed-hover-border-cyan:hover{border-color:#00bcd4!important}
.sfed-border-blue-grey,.sfed-hover-border-blue-grey:hover,.sfed-border-blue-gray,.sfed-hover-border-blue-gray:hover{border-color:#607d8b!important}
.sfed-border-green,.sfed-hover-border-green:hover{border-color:#4CAF50!important}
.sfed-border-light-green,.sfed-hover-border-light-green:hover{border-color:#8bc34a!important}
.sfed-border-indigo,.sfed-hover-border-indigo:hover{border-color:#3f51b5!important}
.sfed-border-khaki,.sfed-hover-border-khaki:hover{border-color:#f0e68c!important}
.sfed-border-lime,.sfed-hover-border-lime:hover{border-color:#cddc39!important}
.sfed-border-orange,.sfed-hover-border-orange:hover{border-color:#ff9800!important}
.sfed-border-deep-orange,.sfed-hover-border-deep-orange:hover{border-color:#ff5722!important}
.sfed-border-pink,.sfed-hover-border-pink:hover{border-color:#e91e63!important}
.sfed-border-purple,.sfed-hover-border-purple:hover{border-color:#9c27b0!important}
.sfed-border-deep-purple,.sfed-hover-border-deep-purple:hover{border-color:#673ab7!important}
.sfed-border-red,.sfed-hover-border-red:hover{border-color:#f44336!important}
.sfed-border-sand,.sfed-hover-border-sand:hover{border-color:#fdf5e6!important}
.sfed-border-teal,.sfed-hover-border-teal:hover{border-color:#009688!important}
.sfed-border-yellow,.sfed-hover-border-yellow:hover{border-color:#ffeb3b!important}
.sfed-border-white,.sfed-hover-border-white:hover{border-color:#fff!important}
.sfed-border-black,.sfed-hover-border-black:hover{border-color:#000!important}
.sfed-border-grey,.sfed-hover-border-grey:hover,.sfed-border-gray,.sfed-hover-border-gray:hover{border-color:#9e9e9e!important}
.sfed-border-light-grey,.sfed-hover-border-light-grey:hover,.sfed-border-light-gray,.sfed-hover-border-light-gray:hover{border-color:#f1f1f1!important}
.sfed-border-dark-grey,.sfed-hover-border-dark-grey:hover,.sfed-border-dark-gray,.sfed-hover-border-dark-gray:hover{border-color:#616161!important}
.sfed-border-pale-red,.sfed-hover-border-pale-red:hover{border-color:#ffe7e7!important}.sfed-border-pale-green,.sfed-hover-border-pale-green:hover{border-color:#e7ffe7!important}
.sfed-border-pale-yellow,.sfed-hover-border-pale-yellow:hover{border-color:#ffffcc!important}.sfed-border-pale-blue,.sfed-hover-border-pale-blue:hover{border-color:#e7ffff!important}